.container {
    width: 80%;
    font-family: sans-serif;
    background-color: aqua;
}
.casa {
    display: grid;
    grid-template-columns: repeat(3, auto);
    border:blueviolet 3px solid;
    height: 300px;
    width: 100%;
}
.linha {
    height: 100%;
    width: 100%;
    border:blue 3px solid;
}

#botao {
    border-radius: 20px;
    display: block;
}